vetclinic-server/HELP.md

target/
build/
!**/src/main/**
!**/src/test/**
*.log*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### NodeJs ###
/vetclinic-client/node_modules
/vetclinic-client/build
/vetclinic-client/coverage
/vetclinic-server/.gradle/
